.footer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1440px;
  height: 451px;
}
.frameChild {
  position: absolute;
  top: 52px;
  left: 87px;
  width: 205px;
  height: 70px;
  object-fit: cover;
}
.aboutUs,
.chnhSchI,
.giiThiu,
.hngDnMua {
  position: absolute;
  left: 0;
  line-height: 30px;
  display: inline-block;
  width: 175px;
  height: 33px;
}
.aboutUs {
  top: 0;
  text-decoration: underline;
}
.chnhSchI,
.giiThiu,
.hngDnMua {
  top: 52px;
}
.chnhSchI,
.hngDnMua {
  top: 100px;
  width: 266px;
}
.chnhSchI {
  top: 148px;
}
.address,
.footerParent {
  position: absolute;
  top: 168px;
  left: 657px;
  width: 266px;
  height: 181px;
}
.footerParent {
  top: 3035px;
  left: 0;
  width: 1440px;
  height: 451px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-work-sans);
}
