.frameChild {
  position: relative;
  width: 334px;
  height: 211px;
  object-fit: cover;
}
.phongCchL {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  width: 566px;
}
.ngNhp,
.rectangleParent {
  width: 573px;
  height: 703px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl) 0;
  box-sizing: border-box;
  gap: var(--gap-31xl);
}
.ngNhp {
  position: relative;
  background-color: var(--color-white);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-11xl) var(--padding-28xl);
  gap: var(--gap-98xl);
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
