.itemProductsChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 416px;
  height: 613px;
}
.blankLine {
  margin: 0;
}
.fabricTrackPantsContainer1 {
  line-break: anywhere;
  width: 100%;
}
.fabricTrackPantsContainer {
  display: flex;
  align-items: center;
  width: 236px;
  height: 48px;
  flex-shrink: 0;
}
.div,
.fabricTrackPantsContainer {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.priceName,
.priceName1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.priceName1 {
  height: 81px;
  gap: var(--gap-4xs);
}
.priceName {
  position: absolute;
  top: 497px;
  left: 26px;
}
.image1Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 416px;
  height: 482px;
  object-fit: cover;
}
.itemProducts {
  position: relative;
  width: 416px;
  height: 613px;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
